{{define "layout"}}
<!DOCTYPE html>
<html>
  <head>
    <title>stressd | {{.}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/application.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,600,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><strong>stressd</strong></a>
          </div>
        </div>
      </div>
      <div class="container">
        {{template "content"}}
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted"></p>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/scripts/application.js"></script>
  </body>
</html>
{{end}}